.rotate-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100vh;  */
}

.rotating-image {
  width: 100px; /* Adjust the width as needed */
  height: 100px; /* Adjust the height as needed */
  animation: rotateAnimation 2s infinite alternate;
}

@keyframes rotateAnimation {
  0% {
    transform: rotate(-7deg);
  }

  100% {
    transform: rotate(7deg);
  }
}
